/* 
    General Styles
*/
.LOGO{
    height: 50px;
    width: 90px;
}

body{
background: rgb(88,97,142);
background: linear-gradient(211deg, rgba(88,97,142,1) 17%, rgba(141,149,187,1) 24%, rgba(66,69,99,1) 40%, rgba(61,61,83,1) 48%, rgba(98,98,153,1) 66%, rgba(73,73,87,1) 89%);
}