/* 
    General Styles
*/
.LOGO{
    height: 50px;
    width: 90px;
}

body{
    background-repeat: no-repeat;
background: rgb(135,132,136);
background: radial-gradient(circle, rgba(135,132,136,1) 0%, rgba(116,85,85,1) 50%, rgba(190,157,111,1) 100%);
}